/* Import Star Wars Font */
  @import url(https://allfont.net/allfont.css?fonts=star-jedi);
  @import url(https://allfont.net/allfont.css?fonts=franklin-gothic-demi-cond);

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.movieList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

.starwarsFont {
    font-family: 'Star Jedi', arial;
    font-size: 90px;
    color: white;
}

figure {
    box-sizing: border-box;
    border: 5px solid white;
    padding: 5px;
}

img {
    border: 5px solid white;
}

figcaption {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Franklin Gothic Demi Cond', arial;
    font-size: 2em;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
    margin: 2em;
    font-family:monospace;
    font-size: 2em;
}