/* Import Star Wars Font */
@import url(https://allfont.net/allfont.css?fonts=star-jedi);

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Star Wars Font */
.starwarsFont {
    font-family: 'Star Jedi', arial;
    font-size: 75px;
}

header {
    display: flex;
    justify-content: center;
}

.star {
    z-index: -1;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

img, nav {
    position: relative;
}

.navAnchor {
    text-decoration: none;
    color: #ffffff;
    transition: background-color .5s;
}

.navAnchor:hover {
    color: #70989f;
}

li {
    list-style-type: none;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
}

.shipName {
    text-align: center;
    background-color: black;
    font-family: 'Star Jedi', arial;
}

.navList, .navAnchor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shipView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 800px;
}

footer {
    display: flex;
    justify-content: center;
}