:root {
    margin: 0;
    box-sizing: border-box;
}

.star {
    z-index: -1;
}

main {
    display: flex;
}

.navAnchor {
    text-decoration: none;
    color: #ffffff;
    transition: background-color .5s;
}

.navAnchor:hover {
    color: #70989f;
}

li {
    list-style-type: none;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
}

.shipName {
    text-align: center;
}