/* Import Star Wars Font */
@import url(https://allfont.net/allfont.css?fonts=star-jedi);
@import url(https://allfont.net/allfont.css?fonts=franklin-gothic-demi-cond);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Star Jedi', arial;
    font-size: 90px;
}

button {
    font-family: 'Franklin Gothic Demi Cond', arial;
    background-color: black;
    color: white;
    box-shadow: 1px 1px 1px white;
    padding: 1em;
    margin: 2em;
    font-size: 2em;
    cursor:pointer;
}

figure > img {
    height: 500px;
    margin: 2em;
}

figure {/* 
    border: 5px solid white; */
    margin: 1em;
}

img {
    border: 5px solid white;
}

figcaption {
    font-family: 'Franklin Gothic Demi Cond', arial;
    font-size: 2em;
    text-align: center;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
    margin: 2em;
    font-family:monospace;
    font-size: 2em;
}