* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 1em;
}

.buttonHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    border: none;
    background-color: white;
    cursor: pointer;
    color: black;
    font-size: larger;
    padding: 5px;
}

button:hover {
    box-shadow: 3px 3px 3px #575858;
    border-radius: 5%;
    padding: 5px;
}

.congressGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.figureDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 175px;
    height: 225px;
    padding: 15px;
}

figure {
    width: 100px;
}

figure img {
    border-radius: 50%;
    box-shadow: 3px 3px 3px #575858;
    margin: 5px;
}

figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 50px;
}

.fa-republican {
    color: red;
/*     padding-top: 15px; */
    position: absolute;
    align-self: flex-start;
}

.fa-democrat {
    color: blue;
    /* padding-top: 15px; */
    position: absolute;
    align-self: flex-start;
}

.fa-mitten {
    color: green;
    /* padding: 15px; */
    position: absolute;
    align-self: flex-start;
}