* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, p {
    text-align: center;
    margin: 1em;
}

.buttonHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    color: white;
    height: 75px;
    cursor:pointer;
    opacity: 50%;
    font-weight: 600;
    font-size: larger;
    width: 80vw;
}

button:hover {
    opacity: 100%;
}

#seniorityButton {
    background-color: #6D1585;
}

#republicans {
    background-color: #9D2100;
}

#democrats {
    background-color: #1B2682;
}

#independents {
    background-color: #0B661A;
}

#missedVotes {
    background-color: #8B909E;
}

.congressGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.figureDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 175px;
    background-color: white;
    margin: 1em;
    border-radius: 5%;
    box-shadow: 3px 3px 3px #575858;
}

figure {
    width: 100px;
}

figure img {
    width: 100px;
    border-radius: 5%;
}

figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 50px;
    padding: 5px;
    color: white;
}

.fa-republican {
    color: white;
    position: absolute;
    align-self: flex-start;
    margin-left: 2px;
    margin-top: 2px;
}

.fa-democrat {
    color: white;
    position: absolute;
    align-self: flex-start;
    margin-left: 2px;
    margin-top: 2px;
}

.fa-mitten {
    color: white;
    position: absolute;
    align-self: flex-start;
    margin-left: 2px;
    margin-top: 2px;
}